<configuration scan="true">
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="stdout"/>
	</root>

	<!--<logger name="backend" level="debug"/>-->
	<logger name="backend" level="trace"/>

	<logger name="net.sf.lightair.Api" level="info" />
	<!--<logger name="net.sf.lightair" level="trace" />-->

</configuration>
